* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 16px;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  margin: 0 - 15px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.col {
  width: 33.333333333333336%;
  float: left;
  padding: 0 15px;
}

.card {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 30px;
}

.card-head {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding: 16px;
  align-items: center;
  background-color: #e0e0e0;
}

.card-head.pending {
  background-color: #1976d2;
}

.card-head.paid {
  background-color: #2ecc71;
}

.card-head.submitted {
  background-color: #f1c40f;
}

.card-body {
  padding: 16px;
}

.card-company {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  height: 140px;
  overflow: hidden;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.3;
  color: #767676;
}

.card-author {
  color: #666;
  font-style: italic;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-skills {
  height: 72px;
  overflow: hidden;
}

.card-skills-element {
  font-size: 14px;
  cursor: default;
  height: 28px;
  display: inline-flex;
  padding: 0 15px;
  margin-right: 8px;
  align-items: center;
  white-space: nowrap;
  border-radius: 14px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none;
  background-color: #e0e0e0;
  margin-bottom: 8px;
}
.card-skills-element:last-child {
  margin-right: 0;
}

.card-createat-label {
  display: block;
  font-size: 12px;
  text-transform: lowercase;
  font-style: italic;
}

.card-createat-value {
  font-weight: bold;
}
.card-proposals,
.card-worktime {
  margin-bottom: 12px;
  font-size: 14px;
}

@media screen and (max-width: 991px) {
  .col {
    width: 50%;
  }
}

@media screen and (max-width: 561px) {
  .col {
    width: 100%;
  }
}
